<footer th:fragment="footer">
    <div style="width: 100%; height: 100px"></div>

    <div style="position: fixed; bottom: 0; left: 0; width: 100%; text-align: center; background-color: #f8f8f8; padding: 10px 0;">
        <p>Created with &#x1F493; by
            <a href="https://gitlab.com/CodeQuacker">Adam Zalewski</a>
            and
            <a href="https://gitlab.com/WojtekPoplawski">Wojciech Popławski</a></p>
    </div>
</footer>
