<nav th:fragment="nav">
    <div class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; top: 0; left: 0; width: 100%; z-index: 1000">
        <a class="navbar-brand" href="/">Storage App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/items}">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categories}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/items/add}">Add new item...</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a class="nav-link" th:href="@{/swagger-ui/index.html}">Swagger</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a class="nav-link" th:href="@{/admin}">Admin Console</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
                <li class="nav-item" th:if="${#authentication.isAuthenticated()}">
                    <span class="nav-link active">Welcome, <span th:text="${#authentication.principal.username}"></span>!</span>
                </li>
            </ul>
        </div>
    </div>
    <div style="width: 100%; height: 100px"></div>
</nav>