<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/head :: head"></div>
        <title>Admin Console</title>
    </head>
    <body>
        <nav th:replace="fragments/nav :: nav"></nav>

        <div class="container">
            <!-- Thymeleaf-specific content -->

            <!--            <div th:if="${error != null}" class="alert alert-danger" role="alert">-->
            <!--                [[${error}]]-->
            <!--            </div>-->

            <h1>Admin Console</h1>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>Username</th>
                        <th>Password</th>
                        <th>Role</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <form th:action="@{/admin}" method="post">
                        <tr>
                            <td class="align-middle">
                                <label style="display: none" for="username">Username</label>
                                <input type="text" id="username" name="username" class="form-control" required/>
                            </td>
                            <td class="align-middle">
                                <label style="display: none" for="password">Password</label>
                                <input type="text" id="password" name="password" class="form-control" required/>
                            </td>
                            <td class="align-middle">
                                <label style="display: none" for="role">Role</label>
                                <select class="form-control" id="role" name="role" th:name="role">
                                    <option
                                            th:each="role : ${roles}"
                                            th:value="${role}"
                                            th:text="${role.label}">
                                    </option>
                                </select>
                            </td>
                            <td class="text-center">
                                <button type="submit" class="btn btn-primary col-10">Add User</button>
                            </td>
                        </tr>
                    </form>
                </tbody>
            </table>

            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="text-center">
                        <th class="col-6">Username</th>
                        <th class="col-6">Role</th>
                    </tr>
                </thead>
                <tbody>

                    <tr th:each="user : ${users}">
                        <td class="align-middle" th:text="${user.username}"></td>
                        <td class="align-middle" th:text="${user.role}"></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>
