<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/head :: head"></div>
        <title>Categories</title>
    </head>
    <body>
        <nav th:replace="fragments/nav :: nav"></nav>

        <div class="container">
            <!-- Thymeleaf-specific content -->

            <div th:if="${error != null}" class="alert alert-danger" role="alert">
                [[${error}]]
            </div>

            <h1>Category List</h1>
            <table class="table table-striped table-bordered">
                <thead>
                <tr class="text-center">
                    <th>Name</th>
                    <th>Master Category</th>
                    <th th:if="${#authorization.expression('hasAnyRole(''ADMIN'',''FULL_USER'')')}">Options</th>
                </tr>
                </thead>
                <tbody>
                <form th:action="@{/categories/add}" method="post" th:if="${#authorization.expression('hasAnyRole(''ADMIN'',''FULL_USER'')')}">
                    <tr>
                        <td class="align-middle">
                            <label style="display: none" for="name">Category Name</label>
                            <input type="text" id="name" name="name" class="form-control" required/>
                        </td>
                        <td class="align-middle">
                            <label style="display: none" for="masterCategory">Master Category</label>
                            <select class="form-control" id="masterCategory" name="masterCategory"
                                    th:value="${masterCategory}"
                                    th:name="masterCategory">
                                <option th:each="category : ${categoriesForm}"
                                        th:value="${category.name}"
                                        th:text="${category.name}"></option>
                            </select>
                        </td>
                        <td class="text-center">
                            <button type="submit" class="btn btn-primary col-10">Add Category</button>
                        </td>
                    </tr>
                </form>
                <tr th:each="category : ${categoryList}">
                    <td class="align-middle" th:text="${category.name}"></td>
                    <td class="align-middle" th:text="${category.masterCategory}"></td>
                    <td class="text-center" th:if="${#authorization.expression('hasAnyRole(''ADMIN'',''FULL_USER'')')}">
                        <a th:href="@{/categories/delete/{id}(id = ${category.id})}" class="btn btn-danger col-10">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>
