<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/head :: head"></div>
        <title>Edit Item</title>
    </head>
    <body>
        <nav th:replace="fragments/nav :: nav"></nav>

        <div class="container">
            <!-- Thymeleaf-specific content -->


            <div class="text-center">
                <h1>Edit Item</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 card card-body">
                    <h5 class="card-title">Edit Item Information</h5>
                    <form th:action="@{/items/edit/{id}(id=${id})}" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="name"
                                    name="name"
                                    th:name="name"
                                    th:value="${name}"
                                    required
                            >
                        </div>
                        <div class="mb-3">
                            <label for="value" class="form-label">Value</label>
                            <input
                                    type="number"
                                    step="0.01"
                                    class="form-control"
                                    id="value"
                                    name="value"
                                    th:name="value"
                                    th:value="${value}"
                                    required
                            >
                            <div th:if="${valueIncorrect != null}" class="alert alert-danger" role="alert">
                                [[${valueIncorrect}]]
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="form-label">Amount</label>
                            <input
                                    type="number"
                                    class="form-control"
                                    id="amount"
                                    name="amount"
                                    th:name="amount"
                                    th:value="${amount}"
                                    required
                            >
                            <div th:if="${amountIncorrect != null}" class="alert alert-danger" role="alert">
                                [[${amountIncorrect}]]
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="Category" class="form-label">Category</label>
                            <select class="form-control" id="Category" name="Category"
                                    th:value="${category}"
                                    th:name="category">
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:text="${category.name}"></option>
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a th:href="@{/items/details/{id}(id=${id})}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>
