<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head"></div>
    <title>Items</title>
</head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>

<div class="container">
    <!-- Thymeleaf-specific content -->

    <h1>Item List</h1>
    <form th:action="@{/items}" method="post">
        <table class="table table-striped table-bordered">
            <thead>
            <tr class="text-center">
                <th colspan="6">Filter</th>
            </tr>
            <tr>
                <th>Term</th>
                <th>Category</th>
                <th>Value lower than</th>
                <th>Value greater than</th>
                <th>Amount lower than</th>
                <th>Amount greater than</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input class="form-control" type="text" id="termFilter" name="termFilter" th:name="termFilter"
                           th:value="${ItemTermFilter}"/></td>
                <td><select class="form-control" id="categoryFilter" name="categoryFilter"
                            th:value="${ItemCategoryNameFilter}"
                            th:name="categoryNameFilter">
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}"></option>
                </select></td>
                <td><input
                        class="form-control" type="number"
                        step="0.01" id="lowerThanValueFilter" name="lowerThanValueFilter" th:name="lowerThanValueFilter"
                        th:value="${ItemLowerThanValueFilter}"/></td>
                <td><input class="form-control" type="number"
                           step="0.01" id="greaterThanValueFilter" name="greaterThanValueFilter"
                           th:name="greaterThanValueFilter"
                           th:value="${ItemGreaterThanValueFilter}"/></td>
                <td><input class="form-control" type="number" step="1" id="lowerThanAmountFilter"
                           name="lowerThanAmountFilter" th:name="lowerThanAmountFilter"
                           th:value="${ItemLowerThanAmountFilter}"/></td>
                <td><input class="form-control" type="number" step="1" id="greaterThanAmountFilter"
                           name="greaterThanAmountFilter" th:name="greaterThanAmountFilter"
                           th:value="${ItemGreaterThanAmountFilter}"/></td>
            </tr>
            </tbody>
        </table><div class="center">
        <button type="submit" class="btn btn-primary">Filter</button></div>
    </form>
    <button th:href="@{/items/clearFilter}" class="btn btn-primary">Clear</button>
    <table class="table table-striped table-bordered">
        <thead>
        <tr class="text-center">
            <th>Name</th>
            <th>Value</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="item : ${itemList}">
            <td class="align-middle" th:text="${item.name}"></td>
            <td class="align-middle" th:text="${item.value}"></td>
            <td class="align-middle" th:text="${item.amount}"></td>
            <td class="align-middle" th:text="${item.category}"></td>
            <td class="text-center">
                <a th:href="@{/items/details/{id}(id = ${item.id})}" class="btn btn-primary col-10">Item details</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
