<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/head :: head"></div>
        <title>PageTitle</title>
    </head>
    <body>
        <nav th:replace="fragments/nav :: nav"></nav>

        <div class="container">
            <!-- Thymeleaf-specific content -->

            <div class="text-center">
                <h1>Item Details</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Item Information</h5>
                            <div class="card-text">
                                <p><strong>ID:</strong> [[${item.id}]]</p>
                                <p><strong>Name:</strong> [[${item.name}]]</p>
                                <p><strong>Value:</strong> [[${item.value}]]</p>
                                <p><strong>Amount:</strong> [[${item.amount}]]</p>
                                <p><strong>Category:</strong> [[${item.category}]]</p>
                            </div>
                            <div class="text-center">
                                <a th:href="@{/items/edit/{id}(id=${item.id})}" class="btn btn-primary">Edit</a>
                                <a th:href="@{/items/delete/{id}(id=${item.id})}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>
