<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>User Registration</title>
    </head>
    <body>
        <h1>User Registration</h1>

        <form th:action="@{/user/register}" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" th:name="username" th:value="${username}" required>
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" th:name="password" th:value="${password}" required>
            </div>

            <div>
                <label for="role">Role:</label>
                <select id="role" name="role" th:name="role" required>
                    <option th:each="role : ${T(com.sem6_pawww_projekt.storageapp.hexagon.ports.input.objects.UserRoles).values()}"
                            th:value="${role}" th:text="${role.getLabel()}"></option>
                </select>
            </div>

            <div>
                <button type="submit">Register</button>
            </div>
        </form>
    </body>
</html>
